.food-added {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

.image-name-portion {
  display: flex;
  align-items: center;
}

.name-portion {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.food-img {
  height: 50px;
  width: 50px;
}

.bold-font {
  font-size: 16px;
  margin: 10px 0px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);

}

.calories-bold{
  white-space: nowrap;
}

.food-item-name{
  text-transform: capitalize;
}

.meal-type-selected-item{
  text-transform: capitalize;
}

.calories-mealType {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.selectedItemsList {
  flex-grow: 1;
}
