.add-button {
  position: absolute;
  border-radius: 50%;
  background-color: $base-color;
  width: 56px;
  height: 56px;
  left: calc(100% - 80px);
  bottom: 3%;
  font-size: 3em;
  color: white;
  text-align: center;
  line-height: 56px;
}
