@import "../../styles/_shared.scss";


.goal-percentage {
  margin: 10px 10px 0px 10px;
}

.ui.tiny.progress .bar {
  background-color: $base-color;
}

.ui.tiny.progress {
  margin: 5px 0px;
}

.calories-data {
  display: flex;
  justify-content: space-between;
  margin: 10px 8px 25px 8px;
}

.daily-calories-goal {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.calories {
  font-size: 1.6em;
  margin: 0px;
}

.calories-breakdown {
  display: flex;
  justify-content: space-between;
  margin: 15px 8px;
}

.percentage-num{
  display: flex;
}

.percentage-num p{
  align-self: flex-end;
}
