@import "../../styles/_shared.scss";


.goal-percentage {
  margin: 10px 10px 0px 10px;
}

.ui.tiny.progress .bar {
  background-color: $base-color;
}

.ui.tiny.progress {
  margin: 5px 0px;
}

.calories-data {
  display: flex;
  justify-content: space-between;
  margin: 10px 8px 25px 8px;
}

.daily-calories-goal {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.calories {
  font-size: 1.6em;
  margin: 0px;
  margin-top: 20px;
}

.calories-breakdown {
  display: flex;
  justify-content: space-between;
  margin: 1px 8px 10px 8px;
}

.percentage-num{
  display: flex;
}

.percentage-num p{
  align-self: flex-end;
}

.calories-p{
  font-size: 12px;
  margin: 0px;
}

.meal-type{
  margin: 0px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.4px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.calories-user-info{
  margin: 15px;
}



